{% extends "::base.html.twig" %}
{% block body %}
<div class="jumbotron">
    <h1>
        Definitions for EcuFlash
    </h1>
    <p>
        This site will host definitions for EcuFlash, for the Mitsubishi Evolution and Ralliart platforms (maybe more later).
    </p>

</div>

<div>
    <h2>Disclaimer <small>You should read this.</small></h2>
    <p>This version of the website contains the files from the latest version of EcuFlash, which were from <a href="http://goldenevo.com/">GoldenEvo.com</a>.</p>
    <p>Please consider donating to that site, they did the hard work.</p>
</div>
{% endblock %}