{% extends "::base.html.twig" %}
{% block body %}
    <div class="container">

        <h3>Scalings and ROMs Imported</h3>
        <p>ROMs have been imported into the databse. See the relationship tree <a href="{{ path('rom_tree') }}">here</a>. Also, all the scalings have been imported. You can view all of them <a href="{{ path('rom_scalings') }}">here</a>.</p>

        <h3>Download XML Files</h3>
        <p>You can download the XML files that come with EcuFlash <a href="{{ path('download') }}">here</a>. This is only a temporary measure until the new database is populated and generating XMLs.</p>
    </div>
{% endblock %}